<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='graphics/generocity.png') }}"
        alt="Generocity" height="22.5" width="150"/></a>
    </div>
  <div class="container-fluid">
  <button class="navbar-toggler" data-target="#navbarToggle" aria-controls="navbarToggle"
          type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('reach') }}">Our Reach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Contact Us</a>
      </li>
    </ul>
      <!------------------------------->
      <!-- Idea generator button -->
      <!-- Add pop up box here - replace a href="#" -->
      <!------------------------------->
    <ul class="nav navbar-nav">
      {% if user %}
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('account') }}">Account</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
      </li>
      {% endif %}
      </ul>
    </div>
    <ul class="nav navbar-nav">
    <a href="#">
      <button class="btn navbar-btn" id="idea_generator">
        <i class="fab fa-md"> <a href="" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">&#x1f4a1;</a>
        </i>
      </button>
    </a>
    <!-- <a href="#">
      <button class="btn navbar-btn" id="idea_generator">
        <i class="fas fa-lightbulb fa-lg" style="color:#F4FFF6;"></i>
      </button>
    </a> -->
  </ul>

</div>
</nav>
