{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <!-- <div class="homepage-description"> -->
      <div class="d-flex justify-content-center banner">
        <!-- <img src="{{ url_for('static', filename='graphics/banner.gif') }}" alt="Banner" class="img-responsive"/> -->
        <img src="{{url_for('static', filename='graphics/trial2.png')}}" alt="Banner" class="img-responsive"/>
        <!-- <video width="320" height="240" autoplay>
          <source src="{{url_for('static', filename='graphics/trial.mp4')}}" type="video/mp4">
              Your browser does not support the video tag.
        </video> -->
      </div>
    <!-- </div> -->
  </div>
</div>
{% endblock content %}
