{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content_1 %}
<div class="banner">
  <img src="{{ url_for('static', filename='graphics/website_banner.png') }}"
       alt="banner"
       class="img-responsive"
       id="logo-image"/>
    {% if user %}
    <a href="{{ url_for('account') }}" class="btn button button4" id="explore_button">Start Now</a>
    {% else %}
    <a href="{{ url_for('register') }}" class="btn button button4" id="explore_button">Start Now</a>
    {% endif %}

</div>
<div container id="section-divider-1"></div>

{% endblock content_1 %}
