html {
  scroll-behavior: smooth;
}

/* body { */
    /* height: 90vh; */
    /* background-color: #F9BCDD; */
/* } */

/* padding of elements on navbar */
.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
}

/* idea generator icon */
#idea_generator{
  background-color: #E2A7D7;
  border-radius: 50%;
  margin-left: 10%
}

/* size of icons */
.fa{
  font-size: 30px;
}

#logo-image {
  background-size: cover;
	/* max-width: 100%; */
  width:100%;
  height:100%;
  /* opacity: 0.1; */
  /* display: block; */
}

.banner img{
	display: inline;
	max-width: 100%;
	height: auto;
}

#explore_button {
  padding: 10px 30px;
  top: 84%;
  left: 46.5%;
  position: absolute;
  background-color: #806FBF;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
}

#explore_button:hover {
  background-color: #343A40;
}

#section-divider-1{
  background-color: #000000;
  height: 20%;
}









/* .homepage-description{
  background-color: #F9BCDD;
  /* height: 95%; */
/* } */

/* .content-section{
  width: 100%;
  height: 90vh;
  overflow: hidden;
} */
