/* map */
#map{
  height: 600px;
  width: 70em;
  top: 35px;
  margin: auto;
}
.center{
  position: relative;
  top: 25px;
  text-align: center;
  font-size: 80px;
  font-family:Lobster;
}

/* button */
.fab {
   width: 70px;
   height: 70px;
   background-color: #F9BCDD;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
  font-size: 50px;
  line-height: 70px;
  color: white;
  text-align: center;
  position: fixed;
  right: 50px;
  top: 85px;
 transition: all 0.1s ease-in-out;
}
.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}
.fab:active{
     background-color: #d390fc;
}
.overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.content {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  padding: 20px;
  border: 20px solid #F9BCDD;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
